#==============================================================================
#       init.qcom.display.rc
#
#  Copyright (c) 2020 Qualcomm Technologies, Inc.
#  All Rights Reserved.
#  Confidential and Proprietary - Qualcomm Technologies, Inc.
#===============================================================================
service qti-display /system/bin/init.qcom.display.sh
    class main
    user system
    group system
    disabled
    oneshot
    seclabel u:r:qti-display:s0

on post-fs-data
    start qti-display