# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
service vendor-platform_boost-hal-1-0 /vendor/bin/hw/vendor.qti.platform_boost@1.0-service
    interface vendor.qti.platform_boost@1.0::IPlatformBoost default
    class hal
    user system
    group system
    disabled
    oneshot