# Copyright (c) 2017  Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

# README: This is an EXAMPLE of a config file! Please, remove first five lines up to the first "{" symbol before using this config file!
{
  "config":{
     "usecase_map":[
      {
        "name":"general_playback",
        "acdb_dev_id":41,
        "app_type":69936
      },
      {
        "name":"auto_amp_general_playback",
        "acdb_dev_id":60,
        "app_type":69936
      }
    ],
    "commands":[
      { "type":"BMT",
        "type_param":{"module_id":"0x123A2000", "param_id":"0x123A2003"},
        "instances":[
          { "name":"BMT_auto_amp_general_playback",
            "usecase":"auto_amp_general_playback",
            "topo_type":"COPP",
            "instance_id":""}
        ]
      },
      { "type":"Delay",
        "type_param":{ "module_id":"0x00010772", "param_id":"0x00010776" },
        "instances":[
          { "name":"copp_delay",
            "usecase":"general_playback",
            "topo_type":"COPP",
            "instance_id":""}
        ]
      },
      { "type":"FNB",
        "type_param":{ "module_id":"0x123A3000", "param_id":"0x123A3003" },
        "instances":[
          { "name":"FNB_auto_amp_general_playback",
            "usecase":"auto_amp_general_playback",
            "topo_type":"COPP",
            "instance_id":"" }
        ]
      },
      { "type":"Mute",
        "type_param":{ "module_id":"0x00010BFE", "param_id":"0x00010948" },
        "instances":[
          { "name":"popp_mute",
            "usecase":"general_playback",
            "topo_type":"POPP",
            "instance_id":"" },
          { "name":"popp_mute_auto",
            "usecase":"auto_amp_general_playback",
            "topo_type":"POPP",
            "instance_id":"" }

        ]
      },
      { "type":"Volume_idx",
        "type_param":{ "module_id":"0x00010BFE", "param_id":"0x00010BFF" },
        "instances":[
          { "name":"popp_volume_idx",
            "usecase":"general_playback",
            "topo_type":"POPP",
            "instance_id":"",
            "param":["0x2B","0x34","0x3E","0x4A","0x59","0x6A","0x7F","0x97","0xB4","0xD7","0x100",
                    "0x131","0x016B","0x1B0","0x202","0x263","0x2D7","0x361","0x405","0x4C7","0x5AE",
                    "0x6C1","0x808","0x98C","0xB59","0xD7D","0x1008","0x130E","0x16A6","0x1AEC","0x2000"]

          },
          { "name":"popp_volume_idx_auto",
            "usecase":"auto_amp_general_playback",
            "topo_type":"POPP",
            "instance_id":"",
            "param":["0x2B","0x34","0x3E","0x4A","0x59","0x6A","0x7F","0x97","0xB4","0xD7","0x100",
                    "0x131","0x016B","0x1B0","0x202","0x263","0x2D7","0x361","0x405","0x4C7","0x5AE",
                    "0x6C1","0x808","0x98C","0xB59","0xD7D","0x1008","0x130E","0x16A6","0x1AEC","0x2000"]

          }
        ]
      },
      { "type":"Gain",
        "type_param":{ "module_id":"0x00010BFE", "param_id":"0x00010947" },
        "instances":[
          { "name":"popp_gain",
            "usecase":"general_playback",
            "topo_type":"POPP",
            "instance_id":"" },
          { "name":"popp_gain_auto",
            "usecase":"auto_amp_general_playback",
            "topo_type":"POPP",
            "instance_id":"" }
         ]
      },
      { "type":"Module_param",
        "instances":[
          { "name":"copp_general_playback",
            "usecase":"general_playback",
            "topo_type":"COPP",
            "instance_id":"0" },
         { "name":"copp_system_sound",
            "usecase":"system_sound",
            "topo_type":"COPP",
            "instance_id":"" },
         { "name":"copp_auto_amp_general_playback",
            "usecase":"auto_amp_general_playback",
            "topo_type":"COPP",
            "instance_id":"" }
        ]
      }
    ]
  }
}